import java.util.regex.*;
public class RegexDemoDate {

	public static void main(String[] args) {

		String str = "sdkfksdfsdsadsadkfjskafkasfdkfjewjkfmksdmfjdma4ds5f45dfsa14-12-1990,fdslflsfksjafjnfmdnjbbfhafmakjfn01-12-1995jkandfmnkjhfjnwfmnds,fnkjasfhjqmnfkjndjndsmv dksjdnfkjnfmfsaknfksalkfadfnewjinewrjrigndsnfkjhfnlkfndsflkmdklsf,wgmlkhjdskekdlfdkgjvvivvekdidsjfdnakjdsfkfmdklfdanfdsmjdshehrgkrmkrmglkjf8we475i4jfklfmdkjkadfm.,wsdfm,sdnfkjjafkalfasdnf,mafsfkjafsasfasfnjnaf14-12-2015";
		String p = "((((0[1-9]|[1-31]\\d)[-/])((0[1-9]|1[012])[-/]))(199[0-9]|20[00-16]\\d)+)";
		Pattern r = Pattern.compile(p);
		Matcher m = r.matcher(str);
		int i = 0;
		while(!m.hitEnd())
		{
		System.out.println(i);
		if(m.find())
		{
			System.out.println(m.group());
		}
		else
		{
			System.out.println("not found");			
		}
		i++;
		}
	}

}
